In [11]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import pandas
import numpy
import matplotlib.pyplot as plt
import seaborn
import datetime
from sklearn.utils import shuffle
from sklearn.model_selection import train_test_split

In [15]:
file_path = "student-mat.csv"
data = pandas.read_csv(file_path)
data

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,MS,M,20,U,LE3,A,2,2,services,services,...,5,5,4,4,5,4,11,9,9,9
391,MS,M,17,U,LE3,T,3,1,services,services,...,2,4,5,3,4,2,3,14,16,16
392,MS,M,21,R,GT3,T,1,1,other,other,...,5,5,3,3,3,3,3,10,8,7
393,MS,M,18,R,LE3,T,3,2,services,other,...,4,4,1,3,4,5,0,11,12,10
394,MS,M,19,U,LE3,T,1,1,other,at_home,...,3,2,3,3,3,5,5,8,9,9

In [18]:
columns = data.columns
numeric = []
character = []
for i in columns:
	if data[i].dtype == "int64":
		numeric.append(i)
	else:
		character.append(i)
numeric

['age',
 'Medu',
 'Fedu',
 'traveltime',
 'studytime',
 'failures',
 'famrel',
 'freetime',
 'goout',
 'Dalc',
 'Walc',
 'health',
 'absences',
 'G1',
 'G2',
 'G3']

In [19]:
dummy_data = pandas.get_dummies(data[character])
dummy_data

,school_GP,school_MS,sex_F,sex_M,address_R,address_U,famsize_GT3,famsize_LE3,Pstatus_A,Pstatus_T,...,activities_no,activities_yes,nursery_no,nursery_yes,higher_no,higher_yes,internet_no,internet_yes,romantic_no,romantic_yes
0,1,0,1,0,0,1,1,0,1,0,...,1,0,0,1,0,1,1,0,1,0
1,1,0,1,0,0,1,1,0,0,1,...,1,0,1,0,0,1,0,1,1,0
2,1,0,1,0,0,1,0,1,0,1,...,1,0,0,1,0,1,0,1,1,0
3,1,0,1,0,0,1,1,0,0,1,...,0,1,0,1,0,1,0,1,0,1
4,1,0,1,0,0,1,1,0,0,1,...,1,0,0,1,0,1,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,0,1,0,1,0,1,0,1,1,0,...,1,0,0,1,0,1,1,0,1,0
391,0,1,0,1,0,1,0,1,0,1,...,1,0,1,0,0,1,0,1,1,0
392,0,1,0,1,1,0,1,0,0,1,...,1,0,1,0,0,1,1,0,1,0
393,0,1,0,1,1,0,0,1,0,1,...,1,0,1,0,0,1,0,1,1,0
394,0,1,0,1,0,1,0,1,0,1,...,1,0,0,1,0,1,0,1,1,0

In [20]:
concat_data = pandas.concat([data[numeric],dummy_data],axis=1)
concat_data

,age,Medu,Fedu,traveltime,studytime,failures,famrel,freetime,goout,Dalc,...,activities_no,activities_yes,nursery_no,nursery_yes,higher_no,higher_yes,internet_no,internet_yes,romantic_no,romantic_yes
0,18,4,4,2,2,0,4,3,4,1,...,1,0,0,1,0,1,1,0,1,0
1,17,1,1,1,2,0,5,3,3,1,...,1,0,1,0,0,1,0,1,1,0
2,15,1,1,1,2,3,4,3,2,2,...,1,0,0,1,0,1,0,1,1,0
3,15,4,2,1,3,0,3,2,2,1,...,0,1,0,1,0,1,0,1,0,1
4,16,3,3,1,2,0,4,3,2,1,...,1,0,0,1,0,1,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,20,2,2,1,2,2,5,5,4,4,...,1,0,0,1,0,1,1,0,1,0
391,17,3,1,2,1,0,2,4,5,3,...,1,0,1,0,0,1,0,1,1,0
392,21,1,1,1,1,3,5,5,3,3,...,1,0,1,0,0,1,1,0,1,0
393,18,3,2,3,1,0,4,4,1,3,...,1,0,1,0,0,1,0,1,1,0
394,19,1,1,1,1,0,3,2,3,3,...,1,0,0,1,0,1,0,1,1,0

In [21]:
correlations = concat_data.corr()
correlations

,age,Medu,Fedu,traveltime,studytime,failures,famrel,freetime,goout,Dalc,...,activities_no,activities_yes,nursery_no,nursery_yes,higher_no,higher_yes,internet_no,internet_yes,romantic_no,romantic_yes
age,1.000000,-0.163658,-0.163438,0.070641,-0.004140,0.243665,0.053940,0.016434,0.126964,0.131125,...,0.103063,-0.103063,0.086632,-0.086632,0.209081,-0.209081,0.112094,-0.112094,-0.164669,0.164669
Medu,-0.163658,1.000000,0.623455,-0.171639,0.064944,-0.236680,-0.003914,0.030891,0.064094,0.019834,...,-0.108277,0.108277,-0.193263,0.193263,-0.168845,0.168845,-0.201463,0.201463,-0.039681,0.039681
Fedu,-0.163438,0.623455,1.000000,-0.158194,-0.009175,-0.250408,-0.001370,-0.012846,0.043105,0.002386,...,-0.112643,0.112643,-0.157177,0.157177,-0.174566,0.174566,-0.127507,0.127507,-0.015602,0.015602
traveltime,0.070641,-0.171639,-0.158194,1.000000,-0.100909,0.092239,-0.016808,-0.017025,0.028540,0.138325,...,0.007766,-0.007766,0.033338,-0.033338,0.083508,-0.083508,0.111302,-0.111302,-0.021962,0.021962
studytime,-0.004140,0.064944,-0.009175,-0.100909,1.000000,-0.173563,0.039731,-0.143198,-0.063904,-0.196019,...,-0.089877,0.089877,-0.081325,0.081325,-0.175081,0.175081,-0.059422,0.059422,-0.053285,0.053285
failures,0.243665,-0.236680,-0.250408,0.092239,-0.173563,1.000000,-0.044337,0.091987,0.124561,0.136047,...,0.069341,-0.069341,0.100734,-0.100734,0.300316,-0.300316,0.063451,-0.063451,-0.093137,0.093137
famrel,0.053940,-0.003914,-0.001370,-0.016808,0.039731,-0.044337,1.000000,0.150701,0.064568,-0.077594,...,-0.040687,0.040687,0.003581,-0.003581,-0.024319,0.024319,-0.032768,0.032768,0.063816,-0.063816
freetime,0.016434,0.030891,-0.012846,-0.017025,-0.143198,0.091987,0.150701,1.000000,0.285019,0.209001,...,-0.089728,0.089728,0.024696,-0.024696,0.061244,-0.061244,-0.051286,0.051286,0.011182,-0.011182
goout,0.126964,0.064094,0.043105,0.028540,-0.063904,0.124561,0.064568,0.285019,1.000000,0.266994,...,-0.046088,0.046088,-0.004612,0.004612,0.039700,-0.039700,-0.074370,0.074370,-0.007870,0.007870
Dalc,0.131125,0.019834,0.002386,0.138325,-0.196019,0.136047,-0.077594,0.209001,0.266994,1.000000,...,0.066508,-0.066508,0.084849,-0.084849,0.069828,-0.069828,-0.036210,0.036210,-0.015121,0.015121
Walc,0.117276,-0.047123,-0.012631,0.134116,-0.253785,0.141962,-0.113397,0.147822,0.420386,0.647544,...,0.037477,-0.037477,0.099534,-0.099534,0.100340,-0.100340,-0.011687,0.011687,0.010141,-0.010141
health,-0.062187,-0.046878,0.014742,0.007501,-0.075616,0.065827,0.094056,0.075733,-0.009577,0.077180,...,-0.023923,0.023923,0.018475,-0.018475,0.015895,-0.015895,0.080189,-0.080189,-0.026342,0.026342
absences,0.175230,0.100285,0.024473,-0.012944,-0.062700,0.063726,-0.044354,-0.058078,0.044302,0.111908,...,0.013610,-0.013610,-0.019155,0.019155,0.056085,-0.056085,-0.101701,0.101701,-0.153384,0.153384
G1,-0.064081,0.205341,0.190270,-0.093040,0.160612,-0.354718,0.022168,0.012613,-0.149104,-0.094159,...,-0.057010,0.057010,-0.069263,0.069263,-0.178264,0.178264,-0.071619,0.071619,0.037188,-0.037188
G2,-0.143474,0.215527,0.164893,-0.153198,0.135880,-0.355896,-0.018281,-0.013777,-0.162250,-0.064120,...,-0.050552,0.050552,-0.068146,0.068146,-0.179129,0.179129,-0.119439,0.119439,0.111774,-0.111774
G3,-0.161579,0.217147,0.152457,-0.117142,0.097820,-0.360415,0.051363,0.011307,-0.132791,-0.054660,...,-0.016100,0.016100,-0.051568,0.051568,-0.182465,0.182465,-0.098483,0.098483,0.129970,-0.129970
school_GP,-0.377610,0.133333,0.079807,-0.242308,0.090681,-0.059804,0.047926,-0.032988,0.007152,-0.114209,...,-0.116946,0.116946,-0.089277,0.089277,-0.024150,0.024150,-0.133578,0.133578,0.060700,-0.060700
school_MS,0.377610,-0.133333,-0.079807,0.242308,-0.090681,0.059804,-0.047926,0.032988,-0.007152,0.114209,...,0.116946,-0.116946,0.089277,-0.089277,0.024150,-0.024150,0.133578,-0.133578,-0.060700,0.060700
sex_F,0.028606,-0.078228,-0.034878,-0.059722,0.306268,-0.044436,-0.058971,-0.238744,-0.075897,-0.268171,...,0.099833,-0.099833,-0.008203,0.008203,-0.151056,0.151056,0.044113,-0.044113,-0.102023,0.102023
sex_M,-0.028606,0.078228,0.034878,0.059722,-0.306268,0.044436,0.058971,0.238744,0.075897,0.268171,...,-0.099833,0.099833,0.008203,-0.008203,0.151056,-0.151056,-0.044113,0.044113,0.102023,-0.102023
address_R,0.146722,-0.138804,-0.072178,0.328096,0.020912,0.078578,-0.014258,-0.034878,-0.068835,0.093494,...,-0.051360,0.051360,0.059589,-0.059589,0.042854,-0.042854,0.216842,-0.216842,0.005257,-0.005257
address_U,-0.146722,0.138804,0.072178,-0.328096,-0.020912,-0.078578,0.014258,0.034878,0.068835,-0.093494,...,0.051360,-0.051360,-0.059589,0.059589,-0.042854,0.042854,-0.216842,0.216842,-0.005257,0.005257
famsize_GT3,-0.037847,0.043068,0.058879,-0.063493,0.073595,0.015769,0.022776,-0.017695,-0.023064,-0.101521,...,-0.000113,0.000113,0.102088,-0.102088,-0.005806,0.005806,0.000720,-0.000720,0.034395,-0.034395
famsize_LE3,0.037847,-0.043068,-0.058879,0.063493,-0.073595,-0.015769,-0.022776,0.017695,0.023064,0.101521,...,0.000113,-0.000113,-0.102088,0.102088,0.005806,-0.005806,-0.000720,0.000720,-0.034395,0.034395
Pstatus_A,-0.029598,0.123565,0.088730,-0.028265,-0.024294,0.003339,-0.025179,-0.038717,-0.003459,0.030590,...,0.097352,-0.097352,-0.090615,0.090615,-0.040735,0.040735,0.070074,-0.070074,-0.040451,0.040451
Pstatus_T,0.029598,-0.123565,-0.088730,0.028265,0.024294,-0.003339,0.025179,0.038717,0.003459,-0.030590,...,-0.097352,0.097352,0.090615,-0.090615,0.040735,-0.040735,-0.070074,0.070074,0.040451,-0.040451
Mjob_at_home,0.088745,-0.397637,-0.155335,0.148467,0.033122,0.050526,-0.029455,-0.091778,-0.041027,-0.042950,...,0.042945,-0.042945,0.068628,-0.068628,0.129988,-0.129988,0.231160,-0.231160,-0.019326,0.019326
Mjob_health,-0.082660,0.251973,0.118501,-0.106708,-0.012977,-0.040859,-0.061548,-0.009094,0.059252,-0.074620,...,-0.012616,0.012616,-0.066446,0.066446,-0.070874,0.070874,-0.089064,0.089064,-0.031343,0.031343
Mjob_other,0.032488,-0.235176,-0.197077,0.036544,-0.006288,0.006268,0.022736,-0.011640,-0.001660,0.018872,...,0.092480,-0.092480,0.092740,-0.092740,-0.003356,0.003356,0.048733,-0.048733,-0.043476,0.043476
Mjob_services,-0.007732,0.051764,0.028032,-0.050943,-0.004476,0.105430,0.056255,0.021672,0.014455,0.028880,...,-0.041377,0.041377,-0.030299,0.030299,-0.005660,0.005660,-0.080531,0.080531,0.041810,-0.041810
Mjob_teacher,-0.058256,0.454911,0.294526,-0.051235,-0.009009,-0.157771,-0.022122,0.088508,-0.021319,0.041015,...,-0.107108,0.107108,-0.104411,0.104411,-0.063183,0.063183,-0.128292,0.128292,0.051288,-0.051288
Fjob_at_home,0.082233,-0.073794,-0.036446,-0.082249,0.031563,0.020467,-0.050108,0.072819,-0.043381,-0.021031,...,0.004093,-0.004093,-0.088695,0.088695,-0.000667,0.000667,-0.010579,0.010579,-0.056706,0.056706
Fjob_health,-0.109842,0.083398,0.163216,-0.088277,0.121107,-0.016593,-0.013521,-0.063738,-0.021394,-0.036273,...,0.003873,-0.003873,-0.050847,0.050847,-0.050462,0.050462,0.032293,-0.032293,0.000391,-0.000391
Fjob_other,0.007682,-0.109887,-0.253605,0.093214,-0.040619,-0.037792,0.017534,0.040338,0.047488,-0.076526,...,0.055193,-0.055193,0.081931,-0.081931,-0.046121,0.046121,0.064674,-0.064674,0.059505,-0.059505
Fjob_services,0.042963,-0.031834,0.021306,-0.030232,0.007162,0.082706,0.051461,-0.051570,-0.010554,0.111475,...,-0.073416,0.073416,0.003320,-0.003320,0.086822,-0.086822,-0.098841,0.098841,-0.022762,0.022762
Fjob_teacher,-0.069993,0.259836,0.347203,0.014004,-0.058225,-0.074377,-0.069204,0.001675,-0.018830,0.000552,...,0.014697,-0.014697,-0.046804,0.046804,-0.020735,0.020735,0.030037,-0.030037,-0.026933,0.026933
reason_course,-0.003913,-0.094435,-0.027161,0.105746,-0.076068,0.032136,0.023906,0.099300,0.048255,-0.004409,...,0.060776,-0.060776,0.055493,-0.055493,0.063680,-0.063680,0.067187,-0.067187,0.049613,-0.049613
reason_home,0.018283,-0.008708,-0.009618,-0.080027,-0.039620,0.042511,-0.012201,-0.083249,-0.004410,0.022726,...,0.050595,-0.050595,-0.018964,0.018964,-0.065072,0.065072,-0.048775,0.048775,-0.030914,0.030914
reason_other,0.027172,0.008229,-0.014364,-0.001662,-0.107842,-0.012203,-0.019595,0.039891,-0.015182,0.155076,...,0.023208,-0.023208,0.013458,-0.013458,0.127472,-0.127472,0.023221,-0.023221,-0.074026,0.074026
reason_reputation,-0.031932,0.106487,0.048724,-0.033322,0.193342,-0.070127,-0.000972,-0.050101,-0.038297,-0.119213,...,-0.132624,0.132624,-0.050127,0.050127,-0.086686,0.086686,-0.039084,0.039084,0.025374,-0.025374
guardian_father,-0.112046,-0.046609,0.111422,0.031806,0.005834,-0.041250,-0.020134,-0.013249,-0.080327,0.031948,...,-0.002445,0.002445,0.008137,-0.008137,-0.015333,0.015333,-0.049152,0.049152,0.039359,-0.039359
guardian_mother,-0.133558,0.112375,-0.047265,-0.057669,-0.024031,-0.134498,-0.010983,-0.028979,0.080236,-0.051224,...,-0.022809,0.022809,-0.108332,0.108332,0.004429,-0.004429,0.020340,-0.020340,0.037525,-0.037525
guardian_other,0.398396,-0.118635,-0.091250,0.048758,0.031724,0.291157,0.049548,0.069438,-0.012380,0.037626,...,0.042382,-0.042382,0.170929,-0.170929,0.016071,-0.016071,0.041116,-0.041116,-0.124045,0.124045
schoolsup_no,0.251811,0.036029,-0.037530,0.009246,-0.037763,0.000437,0.001345,0.045465,0.037698,0.021485,...,0.046032,-0.046032,0.045967,-0.045967,0.054486,-0.054486,-0.009683,0.009683,-0.080716,0.080716
schoolsup_yes,-0.251811,-0.036029,0.037530,-0.009246,0.037763,-0.000437,-0.001345,-0.045465,-0.037698,-0.021485,...,-0.046032,0.046032,-0.045967,0.045967,-0.054486,0.054486,0.009683,-0.009683,0.080716,-0.080716
famsup_no,0.140609,-0.183727,-0.185496,0.003286,-0.145228,0.055075,0.020436,-0.010538,0.015631,0.031575,...,-0.001500,0.001500,0.059536,-0.059536,0.100815,-0.100815,0.103581,-0.103581,0.012440,-0.012440
famsup_yes,-0.140609,0.183727,0.185496,-0.003286,0.145228,-0.055075,-0.020436,0.010538,-0.015631,-0.031575,...,0.001500,-0.001500,-0.059536,0.059536,-0.100815,0.100815,-0.103581,0.103581,-0.012440,0.012440
paid_no,0.035933,-0.159700,-0.086981,0.066420,-0.167220,0.188039,-0.000460,0.064253,-0.010493,-0.062465,...,-0.021382,0.021382,0.102143,-0.102143,0.189214,-0.189214,0.153132,-0.153132,0.005536,-0.005536
paid_yes,-0.035933,0.159700,0.086981,-0.066420,0.167220,-0.188039,0.000460,-0.064253,0.010493,0.062465,...,0.021382,-0.021382,-0.102143,0.102143,-0.189214,0.189214,-0.153132,0.153132,-0.005536,0.005536
activities_no,0.103063,-0.108277,-0.112643,0.007766,-0.089877,0.069341,-0.040687,-0.089728,-0.046088,0.066508,...,1.000000,-1.000000,0.002731,-0.002731,0.096484,-0.096484,0.048663,-0.048663,0.019651,-0.019651
activities_yes,-0.103063,0.108277,0.112643,-0.007766,0.089877,-0.069341,0.040687,0.089728,0.046088,-0.066508,...,-1.000000,1.000000,-0.002731,0.002731,-0.096484,0.096484,-0.048663,0.048663,-0.019651,0.019651
nursery_no,0.086632,-0.193263,-0.157177,0.033338,-0.081325,0.100734,0.003581,0.024696,-0.004612,0.084849,...,0.002731,-0.002731,1.000000,-1.000000,0.054303,-0.054303,0.007830,-0.007830,0.027495,-0.027495
nursery_yes,-0.086632,0.193263,0.157177,-0.033338,0.081325,-0.100734,-0.003581,-0.024696,0.004612,-0.084849,...,-0.002731,0.002731,-1.000000,1.000000,-0.054303,0.054303,-0.007830,0.007830,-0.027495,0.027495
higher_no,0.209081,-0.168845,-0.174566,0.083508,-0.175081,0.300316,-0.024319,0.061244,0.039700,0.069828,...,0.096484,-0.096484,0.054303,-0.054303,1.000000,-1.000000,0.020374,-0.020374,-0.105664,0.105664
higher_yes,-0.209081,0.168845,0.174566,-0.083508,0.175081,-0.300316,0.024319,-0.061244,-0.039700,-0.069828,...,-0.096484,0.096484,-0.054303,0.054303,-1.000000,1.000000,-0.020374,0.020374,0.105664,-0.105664
internet_no,0.112094,-0.201463,-0.127507,0.111302,-0.059422,0.063451,-0.032768,-0.051286,-0.074370,-0.036210,...,0.048663,-0.048663,0.007830,-0.007830,0.020374,-0.020374,1.000000,-1.000000,0.087122,-0.087122
internet_yes,-0.112094,0.201463,0.127507,-0.111302,0.059422,-0.063451,0.032768,0.051286,0.074370,0.036210,...,-0.048663,0.048663,-0.007830,0.007830,-0.020374,0.020374,-1.000000,1.000000,-0.087122,0.087122
romantic_no,-0.164669,-0.039681,-0.015602,-0.021962,-0.053285,-0.093137,0.063816,0.011182,-0.007870,-0.015121,...,0.019651,-0.019651,0.027495,-0.027495,-0.105664,0.105664,0.087122,-0.087122,1.000000,-1.000000
romantic_yes,0.164669,0.039681,0.015602,0.021962,0.053285,0.093137,-0.063816,-0.011182,0.007870,0.015121,...,-0.019651,0.019651,-0.027495,0.027495,0.105664,-0.105664,-0.087122,0.087122,-1.000000,1.000000

In [22]:
def get_redundant_pairs(data):
	pairs_to_drop = set()
	cols = data.columns
	for i in range(0, concat_data.shape[1]):
		for j in range(0, i+1):
			pairs_to_drop.add((cols[i],cols[j]))
	return pairs_to_drop

def get_top_abs_correlations(data, n=30):
	abs_corr = data.corr().abs().unstack()
	labels_to_drop = get_redundant_pairs(data)
	abs_corr = abs_corr.drop(labels=labels_to_drop).sort_values(ascending=False)
	return abs_corr[14:n]

In [23]:
get_top_abs_correlations(concat_data,30)

G1               G2                   0.852118
guardian_father  guardian_mother      0.812592
G1               G3                   0.801468
Fjob_other       Fjob_services        0.690275
Dalc             Walc                 0.647544
Medu             Fedu                 0.623455
reason_course    reason_home          0.470158
                 reason_reputation    0.458258
Medu             Mjob_teacher         0.454911
guardian_mother  guardian_other       0.444143
Mjob_other       Mjob_services        0.442507
goout            Walc                 0.420386
age              guardian_other       0.398396
Medu             Mjob_at_home         0.397637
age              school_GP            0.377610
                 school_MS            0.377610
dtype: float64

In [24]:
pandas.DataFrame({"Walc":correlations['Walc'], 'Dalc':correlations['Dalc']}).T

,age,Medu,Fedu,traveltime,studytime,failures,famrel,freetime,goout,Dalc,...,activities_no,activities_yes,nursery_no,nursery_yes,higher_no,higher_yes,internet_no,internet_yes,romantic_no,romantic_yes
Walc,0.117276,-0.047123,-0.012631,0.134116,-0.253785,0.141962,-0.113397,0.147822,0.420386,0.647544,...,0.037477,-0.037477,0.099534,-0.099534,0.100340,-0.100340,-0.011687,0.011687,0.010141,-0.010141
Dalc,0.131125,0.019834,0.002386,0.138325,-0.196019,0.136047,-0.077594,0.209001,0.266994,1.000000,...,0.066508,-0.066508,0.084849,-0.084849,0.069828,-0.069828,-0.036210,0.036210,-0.015121,0.015121

In [25]:
walc = correlations['Walc']
dalc = correlations['Dalc']

In [26]:
threshold_walc = walc[abs(walc) > 0.15]
threshold_dalc = dalc[abs(dalc) > 0.15]

In [27]:
threshold_walc

studytime   -0.253785
goout        0.420386
Dalc         0.647544
Walc         1.000000
sex_F       -0.274194
sex_M        0.274194
Name: Walc, dtype: float64

In [28]:
threshold_dalc

studytime      -0.196019
freetime        0.209001
goout           0.266994
Dalc            1.000000
Walc            0.647544
sex_F          -0.268171
sex_M           0.268171
reason_other    0.155076
Name: Dalc, dtype: float64

In [29]:
walc_index = threshold_walc.index.tolist()
dalc_index = threshold_dalc.index.tolist()

In [30]:
walc_index

['studytime', 'goout', 'Dalc', 'Walc', 'sex_F', 'sex_M']

In [31]:
dalc_index

['studytime',
 'freetime',
 'goout',
 'Dalc',
 'Walc',
 'sex_F',
 'sex_M',
 'reason_other']

In [32]:
walc_data = concat_data[walc_index]
dalc_data = concat_data[dalc_index]

In [33]:
walc_data

     studytime  goout  Dalc  Walc  sex_F  sex_M
0            2      4     1     1      1      0
1            2      3     1     1      1      0
2            2      2     2     3      1      0
3            3      2     1     1      1      0
4            2      2     1     2      1      0
..         ...    ...   ...   ...    ...    ...
390          2      4     4     5      0      1
391          1      5     3     4      0      1
392          1      3     3     3      0      1
393          1      1     3     4      0      1
394          1      3     3     3      0      1

[395 rows x 6 columns]

In [34]:
dalc_data

     studytime  freetime  goout  Dalc  Walc  sex_F  sex_M  reason_other
0            2         3      4     1     1      1      0             0
1            2         3      3     1     1      1      0             0
2            2         3      2     2     3      1      0             1
3            3         2      2     1     1      1      0             0
4            2         3      2     1     2      1      0             0
..         ...       ...    ...   ...   ...    ...    ...           ...
390          2         5      4     4     5      0      1             0
391          1         4      5     3     4      0      1             0
392          1         5      3     3     3      0      1             0
393          1         4      1     3     4      0      1             0
394          1         2      3     3     3      0      1             0

[395 rows x 8 columns]

In [35]:
walc_correlations = walc_data.corr()
dalc_correlations = dalc_data.corr()

In [36]:
walc_correlations

           studytime     goout      Dalc      Walc     sex_F     sex_M
studytime   1.000000 -0.063904 -0.196019 -0.253785  0.306268 -0.306268
goout      -0.063904  1.000000  0.266994  0.420386 -0.075897  0.075897
Dalc       -0.196019  0.266994  1.000000  0.647544 -0.268171  0.268171
Walc       -0.253785  0.420386  0.647544  1.000000 -0.274194  0.274194
sex_F       0.306268 -0.075897 -0.268171 -0.274194  1.000000 -1.000000
sex_M      -0.306268  0.075897  0.268171  0.274194 -1.000000  1.000000

In [37]:
dalc_correlations

,studytime,freetime,goout,Dalc,Walc,sex_F,sex_M,reason_other
studytime,1.000000,-0.143198,-0.063904,-0.196019,-0.253785,0.306268,-0.306268,-0.107842
freetime,-0.143198,1.000000,0.285019,0.209001,0.147822,-0.238744,0.238744,0.039891
goout,-0.063904,0.285019,1.000000,0.266994,0.420386,-0.075897,0.075897,-0.015182
Dalc,-0.196019,0.209001,0.266994,1.000000,0.647544,-0.268171,0.268171,0.155076
Walc,-0.253785,0.147822,0.420386,0.647544,1.000000,-0.274194,0.274194,0.092452
sex_F,0.306268,-0.238744,-0.075897,-0.268171,-0.274194,1.000000,-1.000000,-0.016859
sex_M,-0.306268,0.238744,0.075897,0.268171,0.274194,-1.000000,1.000000,0.016859
reason_other,-0.107842,0.039891,-0.015182,0.155076,0.092452,-0.016859,0.016859,1.000000

In [38]:
concat_data['Alcohol'] = concat_data['Walc'] + concat_data['Dalc']

In [39]:
machine_pre_data = concat_data.copy()
machine_pre_data = shuffle(machine_pre_data)
machine_pre_data = machine_pre_data.reset_index()
del machine_pre_data['index']

In [40]:
machine_pre_data

,age,Medu,Fedu,traveltime,studytime,failures,famrel,freetime,goout,Dalc,...,activities_yes,nursery_no,nursery_yes,higher_no,higher_yes,internet_no,internet_yes,romantic_no,romantic_yes,Alcohol
0,17,3,4,3,2,0,5,4,5,2,...,0,0,1,0,1,1,0,1,0,6
1,18,3,1,1,2,0,4,3,4,1,...,0,0,1,0,1,0,1,1,0,2
2,15,2,2,1,1,0,4,2,2,1,...,0,0,1,0,1,0,1,1,0,3
3,16,3,2,1,1,0,5,4,3,1,...,0,1,0,0,1,0,1,1,0,2
4,16,1,1,2,2,0,3,4,2,1,...,0,0,1,0,1,0,1,1,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,16,4,3,1,2,0,3,4,3,2,...,1,0,1,0,1,0,1,1,0,5
391,17,3,3,1,1,0,4,3,5,3,...,1,1,0,0,1,0,1,1,0,8
392,17,4,4,1,1,0,4,2,1,1,...,0,0,1,0,1,1,0,0,1,2
393,17,3,4,1,3,0,4,3,4,2,...,1,1,0,0,1,0,1,1,0,7
394,16,4,2,2,2,0,5,3,3,1,...,1,0,1,0,1,0,1,1,0,2

In [41]:
X_data = machine_pre_data.columns.difference(['Walc', 'Dalc','Alcohol'])

In [42]:
X_data

Index(['Fedu', 'Fjob_at_home', 'Fjob_health', 'Fjob_other', 'Fjob_services',
       'Fjob_teacher', 'G1', 'G2', 'G3', 'Medu', 'Mjob_at_home', 'Mjob_health',
       'Mjob_other', 'Mjob_services', 'Mjob_teacher', 'Pstatus_A', 'Pstatus_T',
       'absences', 'activities_no', 'activities_yes', 'address_R', 'address_U',
       'age', 'failures', 'famrel', 'famsize_GT3', 'famsize_LE3', 'famsup_no',
       'famsup_yes', 'freetime', 'goout', 'guardian_father', 'guardian_mother',
       'guardian_other', 'health', 'higher_no', 'higher_yes', 'internet_no',
       'internet_yes', 'nursery_no', 'nursery_yes', 'paid_no', 'paid_yes',
       'reason_course', 'reason_home', 'reason_other', 'reason_reputation',
       'romantic_no', 'romantic_yes', 'school_GP', 'school_MS', 'schoolsup_no',
       'schoolsup_yes', 'sex_F', 'sex_M', 'studytime', 'traveltime'],
      dtype='object')

In [43]:
X1 = machine_pre_data[X_data]
Y1 = machine_pre_data['Alcohol']

In [44]:
X1

,Fedu,Fjob_at_home,Fjob_health,Fjob_other,Fjob_services,Fjob_teacher,G1,G2,G3,Medu,...,romantic_no,romantic_yes,school_GP,school_MS,schoolsup_no,schoolsup_yes,sex_F,sex_M,studytime,traveltime
0,4,0,0,1,0,0,10,0,0,3,...,1,0,1,0,1,0,0,1,2,3
1,1,0,0,0,1,0,7,9,8,3,...,1,0,0,1,1,0,1,0,2,1
2,2,0,0,1,0,0,12,12,11,2,...,1,0,1,0,1,0,0,1,1,1
3,2,0,0,1,0,0,12,14,15,3,...,1,0,1,0,1,0,0,1,1,1
4,1,0,0,1,0,0,9,7,6,1,...,1,0,1,0,1,0,0,1,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,3,0,0,1,0,0,9,8,8,4,...,1,0,1,0,1,0,0,1,2,1
391,3,0,0,0,1,0,14,15,16,3,...,1,0,1,0,1,0,0,1,1,1
392,4,0,0,0,0,1,11,11,12,4,...,0,1,1,0,0,1,1,0,1,1
393,4,0,0,0,1,0,11,11,10,3,...,1,0,1,0,1,0,1,0,3,1
394,2,0,0,0,1,0,11,10,10,4,...,1,0,1,0,1,0,1,0,2,2

In [45]:
Y1

0      6
1      2
2      3
3      2
4      2
      ..
390    5
391    8
392    2
393    7
394    2
Name: Alcohol, Length: 395, dtype: int64

In [72]:
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers
import numpy as np

In [95]:
from sklearn.model_selection import train_test_split

# split data into training and validation data, for both features and target
# The split is based on a random number generator. Supplying a numeric value to
# the random_state argument guarantees we get the same split every time we
# run this script.

In [166]:
y = data.G1
math_features = ['Dalc']
# 'Medu' ,'Dalc', 'freetime', 'Walc', 'absences' ,'failures', 'G1', 'G2', 'age','goout']
X = data[math_features]

In [167]:
train_X, val_X, train_y, val_y = train_test_split(X, y, random_state = 0)

In [168]:
from tensorflow import keras
from tensorflow.keras import layers

model = keras.Sequential([
    layers.Dense(512, activation='relu', input_shape=[1]),
    layers.Dense(512, activation='relu'),
    layers.Dense(512, activation='relu'),
    layers.Dense(1),
])

In [169]:
model.compile(
    optimizer='adam',
    loss='mae',
)

In [172]:
history = model.fit(
    train_X, train_y,
    validation_data=(val_X, val_y),
    batch_size=256,
    epochs=10,
)

Train on 296 samples, validate on 99 samples
Epoch 1/10
296/296 [==============================] - 0s 58us/sample - loss: 2.6810 - val_loss: 2.8099
Epoch 2/10
296/296 [==============================] - 0s 56us/sample - loss: 2.6856 - val_loss: 2.8025
Epoch 3/10
296/296 [==============================] - 0s 60us/sample - loss: 2.6756 - val_loss: 2.8017
Epoch 4/10
296/296 [==============================] - 0s 53us/sample - loss: 2.6728 - val_loss: 2.7979
Epoch 5/10
296/296 [==============================] - 0s 58us/sample - loss: 2.6721 - val_loss: 2.7946
Epoch 6/10
296/296 [==============================] - 0s 59us/sample - loss: 2.6675 - val_loss: 2.7924
Epoch 7/10
296/296 [==============================] - 0s 60us/sample - loss: 2.6668 - val_loss: 2.7908
Epoch 8/10
296/296 [==============================] - 0s 57us/sample - loss: 2.6661 - val_loss: 2.7869
Epoch 9/10
296/296 [==============================] - 0s 53us/sample - loss: 2.6636 - val_loss: 2.7843
Epoch 10/10
296/296 [==============================] - 0s 56us/sample - loss: 2.6631 - val_loss: 2.7837

In [173]:
model.fit(
    train_X, train_y,
    validation_data=(val_X, val_y),
    batch_size=256,
    epochs=10000,
    verbose = 0
)

In [175]:
model.predict([10,9, 8, 7, 6, 5, 4, 3, 2])

array([[16.490013],
       [15.438131],
       [14.315315],
       [13.167716],
       [12.03553 ],
       [11.005396],
       [10.174871],
       [10.15937 ],
       [10.044603]], dtype=float32)

In [176]:
history = model.fit(
    train_X, train_y,
    validation_data=(val_X, val_y),
    batch_size=256,
    epochs=10,
)

Train on 296 samples, validate on 99 samples
Epoch 1/10
296/296 [==============================] - 0s 64us/sample - loss: 2.6718 - val_loss: 2.7844
Epoch 2/10
296/296 [==============================] - 0s 55us/sample - loss: 2.6622 - val_loss: 2.7930
Epoch 3/10
296/296 [==============================] - 0s 53us/sample - loss: 2.6696 - val_loss: 2.7909
Epoch 4/10
296/296 [==============================] - 0s 59us/sample - loss: 2.6669 - val_loss: 2.7872
Epoch 5/10
296/296 [==============================] - 0s 56us/sample - loss: 2.6636 - val_loss: 2.7904
Epoch 6/10
296/296 [==============================] - 0s 57us/sample - loss: 2.6684 - val_loss: 2.7931
Epoch 7/10
296/296 [==============================] - 0s 56us/sample - loss: 2.6705 - val_loss: 2.7912
Epoch 8/10
296/296 [==============================] - 0s 56us/sample - loss: 2.6678 - val_loss: 2.7907
Epoch 9/10
296/296 [==============================] - 0s 57us/sample - loss: 2.6655 - val_loss: 2.7895
Epoch 10/10
296/296 [==============================] - 0s 50us/sample - loss: 2.6643 - val_loss: 2.7891

In [177]:
history = model.fit(
    train_X, train_y,
    validation_data=(val_X, val_y),
    batch_size=256,
    epochs=10,
)

Train on 296 samples, validate on 99 samples
Epoch 1/10
296/296 [==============================] - 0s 60us/sample - loss: 2.6642 - val_loss: 2.7887
Epoch 2/10
296/296 [==============================] - 0s 60us/sample - loss: 2.6642 - val_loss: 2.7884
Epoch 3/10
296/296 [==============================] - 0s 60us/sample - loss: 2.6642 - val_loss: 2.7875
Epoch 4/10
296/296 [==============================] - 0s 120us/sample - loss: 2.6630 - val_loss: 2.7860
Epoch 5/10
296/296 [==============================] - 0s 77us/sample - loss: 2.6622 - val_loss: 2.7856
Epoch 6/10
296/296 [==============================] - 0s 64us/sample - loss: 2.6630 - val_loss: 2.7861
Epoch 7/10
296/296 [==============================] - 0s 69us/sample - loss: 2.6653 - val_loss: 2.7866
Epoch 8/10
296/296 [==============================] - 0s 77us/sample - loss: 2.6671 - val_loss: 2.7845
Epoch 9/10
296/296 [==============================] - 0s 75us/sample - loss: 2.6645 - val_loss: 2.7826
Epoch 10/10
296/296 [==============================] - 0s 66us/sample - loss: 2.6625 - val_loss: 2.7836

In [181]:
model.predict([11, 10,9, 8, 7, 6, 5, 4, 3, 2, 1,0 ])

array([[17.375847 ],
       [16.335297 ],
       [15.29428  ],
       [14.180588 ],
       [13.043574 ],
       [11.9219885],
       [10.901771 ],
       [10.080186 ],
       [10.061399 ],
       [ 9.962132 ],
       [11.026191 ],
       [12.26191  ]], dtype=float32)